.slide-out-top {
    animation: slide-out-top-anim 750ms cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
}

.slid-out-top {
    transform: translateY(-200vh);
}

.slide-in-top {
    animation: slide-in-top-anim 750ms cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
}

.slid-in-top {
    transform: translateY(0);
}

.fade-out {
    animation: fade-out-top-anim 750ms cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
}

.shake-infinite {
    animation: shake-anim 400ms cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

.hidden {
    display: none;
}

@keyframes border-bottom-fill-anim {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes slide-in-top-anim {
    from {
        transform: translateY(-200vh);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slide-out-top-anim {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-200vh);
    }
}

@keyframes fade-out-anim {
    from {
        opacity: 1;
        display: initial;
    }

    to {
        opacity: 0;
        display: none;
    }
}

@keyframes fade-in-anim {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes shake-anim {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(1deg);
    }

    75% {
        transform: rotate(-1deg);
    }

    100% {
        transform: rotate(0deg);
    }
}