.piece {
    border-radius: 50%;
    width: 5em;
    height: 5em;
    margin: auto;
}

.piece[data-piece-color='empty'] {
    background-color: transparent;
}

.piece[data-piece-color='red'] {
    background-image: var(--red-color);
}

.piece[data-piece-color='yellow'] {
    background-image: var(--yellow-color);
}

.piece[data-piece-color='possibleyellow'], .letter-background[data-piece-color='yellow'] {
    background-color: rgb(255, 255, 112);
    border: 1px solid rgb(233, 233, 94);
}

.piece[data-piece-color='possiblered'], .letter-background[data-piece-color='red'] {
    background-color: rgb(255, 131, 131);
    border: 1px solid rgb(233, 105, 105);
}

.piece[data-piece-color='possibleyellow'], .piece[data-piece-color='possiblered'] {
    border: 0;
}

.piece.winner {
    animation: winner 1.3s linear infinite;
}