.placeholder {
    border-radius: 50%;
    background-color: rgb(252, 252, 252);
}

.board {
    padding: 0.5em 0.75em;
    margin: auto;
}

.play-board {
    table-layout: fixed;
    columns: auto 7;
    height: auto;
    margin: auto;
    box-shadow: 1px 5px 10px 2px lightgrey;
}

.slot {
    /* border: 1px solid #8897a0; */
    border-radius: 3%;
    width: auto;
    height: auto;
    /* background-color: rgb(72, 72, 243); */
    /* background-color: #93a4ad; */
    background-color: var(--board-color);
}